%generic-scrollbar-styling{
    /* Enable vertical scrollbar */
    overflow-y: scroll;
    /* Customize the scrollbar appearance */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: $brand-secondary transparent; /* Track color and thumb color */
}

.custom-scrollbar {
@extend %generic-scrollbar-styling;
  &-primary{
    @extend %generic-scrollbar-styling;
    scrollbar-color: $brand-primary transparent; /* Track color and thumb color */
  }
}

.custom-scrollbar, .custom-scrollbar-primary{
  &::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333; /* Color of the scrollbar thumb */
}

a.social-media-links {
  border: 1px solid $brand-primary;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $brand-primary;
  transition: .25s ease-in-out;

  &:hover{
    color: $brand-secondary;
    border: 1px solid $brand-secondary;
  }
}

.list{
  list-style: none;
  padding: 0 0 0 20px;
  li{
    appearance: none;
    position: relative;
    margin-bottom: 10px;
    &::before{
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      left: -15px;
      top: 5px;
      background-color: $brand-secondary;
    }
  }
}

.table{
  tbody, td, tfoot, th, thead, tr{
    border-color: $brand-primary;
  }
}

.download-link{
  font-weight: 800;
  color: $brand-primary;
  @include font-size(16px);
  &:before{
    font-weight: 800;
    content: "\f019";
    margin-right: 5px;
    @include font-size(16px);
    font-family: "Font Awesome 5 Free";
  }

}

span.badge.text-bg-primary {
  background-color: $brand-primary !important;
  font-weight: normal;
  @include font-size(14px);
  padding: 5px 10px;
}