h6,
.h6 {
  @include font-size(15px);
}

h5,
.h5 {
  color: $gray-100;
  @include font-size(20px);
}

h4,
.h4 {
  @include font-size(25px);
}

h3,
.h3 {
  @include font-size(30px);
}

h2,
.h2 {
  margin-bottom: 10px;
  color: $brand-secondary;
  @include font-size(35px);
}
        
h1,
.h1 {
  color: $brand-primary;
  @include font-size(40px);
}

p{
  color: $gray-100;
}