footer {
  color:$gray-100;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0 0;
  background-color: $white;
  border-top: 2px solid $brand-primary;
  p{
    line-height: 1.25;
  }

  a{
    color:$gray-100;
    text-decoration: none;
  }

  .nav-item {
    .nav-link {
      padding: 5px 0;
      margin-right: 20px;
      @extend .link-secondary;
      &:hover{
        color: $black;
      }
    }

    &:last-child {
      .nav-link {
        margin-right: 0;
      }
    }
  }

    .copyright-content {
      color: $white;
      min-height: 40px;
      display: flex;
      text-align: center;
      align-items: center;
      background-color: $brand-secondary;
  }
}
